/Bolao.css
/bolao.php
/campeonato.css
/css
/ffrrrf.jpg
/Grupo A.png
/Grupo B.png
/Grupo C.png
/Grupo D.png
/Grupo E.png
/Grupo F.png
/Grupo G.png
/Grupo H.png
/images
/javascript.js
/js
/mentalistas.webp
/numero1.png
/numero10.png
/numero11.png
/numero12.png
/numero13.png
/numero14.png
/numero15.png
/numero16.png
/numero2.png
/numero3.png
/numero4.png
/numero5.png
/numero6.png
/numero7.png
/numero8.png
/numero9.png
/README.md
/regras.png
/regulamento.css
/taça.webp
/teste.js
/teste.php
/webapi